### Dictionary

It is used to store non-homogenous group of data in the form of key:value

### Properties

- It is used to store data as K:V in '{}'
- It is iteratable
- Ordered
- key should be unique and it is immutable

In [1]:
d1={}
d2=dict()

print(type(d1),type(d2))

<class 'dict'> <class 'dict'>

In [3]:
d1 = {'rollno':[1,2,3,4,5]}

print(d1)

{'rollno': [1, 2, 3, 4, 5]}

In [1]:
d2 = {(1,2,3):'Python'}

In [2]:
print(d2)

{(1, 2, 3): 'Python'}

### Accessing the pairs from the dict

In [2]:
d1 = {1:'lava',2:'suppi'}

In [3]:
print(d1)

{1: 'lava', 2: 'suppi'}

In [4]:
print(d1[1])

lava

In [5]:
d1[2]='lakshmi'

In [6]:
print(d1[2])

lakshmi

### Dictionary Methods

In [7]:
print(d1)

{1: 'lava', 2: 'lakshmi'}

In [8]:
print(d1.keys())

dict_keys([1, 2])

In [9]:
print(d1.values())

dict_values(['lava', 'lakshmi'])

In [10]:
print(d1.items())

dict_items([(1, 'lava'), (2, 'lakshmi')])

In [11]:
d1.get(1)

'lava'

### Iterating

In [13]:
for pair in d1:
    print(pair)

1
2

In [15]:
for val in d1.values():
    print(val)

lava
lakshmi

In [16]:
for pair in d1:
    print(d1[pair])

lava
lakshmi

In [17]:
for pair in d1:
    print(d1[pair])

lava
lakshmi

In [18]:
for pair in d1.items():
    print(pair)

(1, 'lava')
(2, 'lakshmi')

In [19]:
for key,value in d1.items():
    print(key)
    print(value)
    print('*'* 10)

1
lava
**********
2
lakshmi
**********

In [20]:
sq = {}

for i in range(1,101):
    sq[i]=i**2

print(sq)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401, 50: 2500, 51: 2601, 52: 2704, 53: 2809, 54: 2916, 55: 3025, 56: 3136, 57: 3249, 58: 3364, 59: 3481, 60: 3600, 61: 3721, 62: 3844, 63: 3969, 64: 4096, 65: 4225, 66: 4356, 67: 4489, 68: 4624, 69: 4761, 70: 4900, 71: 5041, 72: 5184, 73: 5329, 74: 5476, 75: 5625, 76: 5776, 77: 5929, 78: 6084, 79: 6241, 80: 6400, 81: 6561, 82: 6724, 83: 6889, 84: 7056, 85: 7225, 86: 7396, 87: 7569, 88: 7744, 89: 7921, 90: 8100, 91: 8281, 92: 8464, 93: 8649, 94: 8836, 95: 9025, 96: 9216, 97: 9409, 98: 9604, 99: 9801, 100: 10000}

In [21]:
for key in sq:
    if key%2==0:
        print(sq[key],end = '--')

4--16--36--64--100--144--196--256--324--400--484--576--676--784--900--1024--1156--1296--1444--1600--1764--1936--2116--2304--2500--2704--2916--3136--3364--3600--3844--4096--4356--4624--4900--5184--5476--5776--6084--6400--6724--7056--7396--7744--8100--8464--8836--9216--9604--10000--